[project]
name = "kappe"
authors = [{ name = "Marko Bausch" }]
description = "Converts ROS MCAPs"
readme = "README.md"
requires-python = ">=3.10"

classifiers = [
    "Development Status :: 4 - Beta",
    "Framework :: Robot Framework :: Tool",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3.10",

]

dependencies = [
    "mcap>=0.3.0",
    "mcap-ros1-support>=0.6.0", # maybe make optional
    "mcap-ros2-support>=0.3.0",
    "numpy",
    "pydantic",
    "strictyaml",
    "scipy",
    "tqdm",
]

dynamic = ["version"]

[project.scripts]
kappe = "kappe.kappe:main"

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.dynamic]
version = { attr = "kappe.__version__" }

[tool.autopep8]
aggressive = 3
recursive = true
max_line_length = 100

[tool.ruff]
line-length = 100
exclude = ['msgs']
select = ['ALL']

ignore = [
    'ANN101',  # missing-type-self
    'ANN401',  # dynamically-typed-expression
    'C901',    # complex-structure
    'D',       # pydocstyle
    'EM101',   # raw-string-in-exception
    'EM102',   # f-string-in-exception
    'PLR2004', # MagicValueComparisons
    'S101',    # AssertUsed
    'TCH',     # flake8-type-checking
    'TCH',     # flake8-type-checking
    'TRY003',  # raise-vanilla-args
]

src = ['src']

target-version = 'py310'

[tool.ruff.flake8-quotes]
inline-quotes = 'single'

[tool.ruff.flake8-annotations]
mypy-init-return = true
suppress-none-returning = true

[tool.ruff.pep8-naming]
classmethod-decorators = ["pydantic.validator"]
